.Filter_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px auto 5px auto;
    span {
        font-size: 15px;
    }
    button {
        font-size: 14px;
        margin: 1px;
        border: 1px solid black;
    }
    .Title_filter {
        background: #68EF76;
    }
    .Date_filter {
        background: #C5E48F;
    }
    .Priority_filter {
        background: #F9D8DC;
    }
    .Tasktype_filter {
        background: #E2DBF9;    
    }
    .Incomplete_filter {
        background: #B0E1F5;
    }
}